<form [formGroup]="frm" (ngSubmit)="submit()">
    <section aria-labelledby="parameters-heading">
        <h2 id="parameters-heading" class="page-heading">Solution settings</h2>
            <div class="fields-row">

                <mat-form-field appearance="outline">
                    <mat-label [style.user-select]="'none'" #lblArchitecture>{{ architecture().payload }}</mat-label>
                    <mat-select formControlName="architectures">
                        <mat-option *ngFor="let item of architectures()" [value]="item.data ? item.id : ''">{{ item.data }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label [style.user-select]="'none'" #lblDatabasePlatform>{{ databasePlatform().payload }}</mat-label>
                    <mat-select formControlName="databasePlatforms">
                        <mat-option *ngFor="let item of databasePlatforms()" [value]="item.data ? item.id : ''">{{ item.data }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label [style.user-select]="'none'" #lblDatabaseEngineer>{{ databaseEngineer().payload }}</mat-label>
                    <mat-select formControlName="databaseEngineers">
                        <mat-option *ngFor="let item of databaseEngineers()" [value]="item.data ? item.id : ''">{{ item.data }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label [style.user-select]="'none'" #lblEngineeringPlatform>{{ engineeringPlatform().payload }}</mat-label>
                    <mat-select formControlName="engineeringPlatforms">
                        <mat-option *ngFor="let item of engineeringPlatforms()" [value]="item.data ? item.id : ''">{{ item.data }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label [style.user-select]="'none'" #lblTemplate>{{ template().payload }}</mat-label>
                    <mat-select formControlName="templates">
                        <mat-option *ngFor="let item of templates()" [value]="item.data ? item.id : ''">{{ item.data }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label [style.user-select]="'none'" #lblProjectTemplate>{{ projectTemplate().payload }}</mat-label>
                    <mat-select formControlName="projectTemplates">
                        <mat-option *ngFor="let item of projectTemplates()" [value]="item.data ? item.id : ''">{{ item.data }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
    </section>

    <div class="page-actions">
        <button type="submit" mat-flat-button color="primary" [disabled]="frm.invalid">
            <mat-icon>check</mat-icon>
            <span>Submit</span>
        </button>
    </div>
</form>

<progress-bar></progress-bar>